@model ShowPostsViewModel
@{
    ViewBag.Title = "fullDetail";
}

<h2>Post</h2>

<td>@Html.Raw(Model.Body)</td>

@if (string.IsNullOrEmpty(Model.MediaUrl))
{
    <p>No Image</p>
}
else
{
<div class="row">
    <div class="col-md-2">
        <img class="img-responsive" src="@Url.Content(Model.MediaUrl)" />
    </div>
</div>

}